<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список авторов</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .list, .list td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div th:insert="/menu :: menu"></div>

    <h1>Список авторов</h1>

    <table class="list">
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author : ${authors}">
            <td th:text="${author.authorId}">10</td>
            <td th:text="${author.firstName}">Павел</td>
            <td th:text="${author.lastName}">Чичиков</td>
            <td><a th:href="@{/author/edit(id=${author.authorId})}" href="edit.html">Изменить</a></td>
            <td><a th:href="@{/author/delete(id=${author.authorId})}" href="list.html">Удалить</a></td>
        </tr>
        </tbody>
    </table>

    <form th:action="@{/author/add}" th:method="get" action="edit.html">
        <input type="submit" value="Добавить" />
    </form>

</body>
</html>